@media (max-width: 1200px)
  .container
    max-width: 960px
  .social
    &-wrapper
      padding: 0
  .subscribe
    max-width: 210px
    &-item
      &__text--mb
        margin-bottom: 49px
@media (max-width: 992px)
  .container
    max-width: 700px
  .social
    &-wrapper
      flex-wrap: wrap
      max-width: 500px
      margin: auto
    &-item
      &__text
        font-size: 13px
        line-height: 19px
        &--mb
          margin-bottom: 25px
@media (max-width: 767px)
  .container
    max-width: 576px
  .social
    &-title
      font-size: 28px
      line-height: 36px
  .subscribe
    &-item
      &__text
        font-size: 13px
        line-height: 19px
        &--mb
          margin-bottom: 25px
    &-route
      display: flex
      align-items: center
      &__link
        margin-right: 4px
        font-size: 11px
        line-height: 20px
@media (max-width: 576px)
  .container
    max-width: 540px
  .social
    &-wrapper
      width: 280px
  .subscribe
    margin-bottom: 32px
    max-width: 130px
    &-item
      &__text
        font-size: 13px
        line-height: 19px
        &--mb
          margin-bottom: 44px
@media (max-width: 320px)
  .container
    max-width: 280px
    width: 92%