.action
  padding: 77px 0 30px 0
  &-top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 38px
    padding-right: 55px
    &__title
      max-width: 270px
      font-size: 36px
      line-height: 48px
    &__text
      font-size: 18px
      line-height: 32px
  &-bottom
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    min-height: 375px
  &-card
    position: relative
    max-width: 361px
    height: 165px
    padding: 26px 24px 0 28px
    background: #FFFFFF
    border: 1px solid #E5EAF4
    border-radius: 16px
    &__logo
      position: absolute
    &__title
      margin: 0 0 8px 51px
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 22px
      line-height: 33px
      color: $headlines
    &__content
      margin-top: auto
      margin-left: 51px
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: $text-color
    
    