.hero
  margin-bottom: 205px
  &-left
    max-width: 499px
    &__title
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      color: $headlines
      &-region
        font-size: 35px
    &__text
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: $text-color
  &-button
    text-align: center
    margin-top: 65px
    padding: 16px 40px
    border-radius: 8px
    border: none
    background-color: $headlines
    color: #ffff
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
  .arrow
    margin-top: 50px