.hero
  padding-top: 55px
  padding-bottom: 105px
  overflow: hidden
  &-left
    width: 50%
    &__title
      margin: 0 0 17px 0
      font-size: 48px
      line-height: 59px
      &--region
        font-size: 35px
    &__text
      margin: 0 0 60px 0
      padding-right: 100px
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: $text-color
  &-form
    margin-bottom: 56px
    &__button
      text-align: center
      padding: 16px 40px
      border-radius: 8px
      border: none
      background-color: $headlines
      color: #ffff
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
  &-macbook
    position: absolute
    top: 1%
    left: 47%
