.hero
  margin-bottom: 100px
  &-info
    display: flex
    flex-direction: column
    max-width: 499px
    color: $headlines
    margin-top: 56px
    &__title
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      margin: 0
    &__region
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 60px
      margin: 0
    &__text
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      margin: 15px 0 0 0
  &-button
    text-align: center
    margin-top: 65px
    padding: 16px 40px
    border-radius: 8px
    border: none
    background-color: $headlines
    color: #ffff
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
  .arrow
    margin-top: 50px