.parter
  &-wrapper
    max-width: 1117px
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    margin-bottom: 82px
    &__title
      flex-basis: 100%
      font-family: Open Sans
      font-style: normal
      font-weight: 600
      font-size: 12px
      line-height: 19px
      text-transform: uppercase
      color: #00B8D9
    &__present
      flex-basis: 38.5%
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 48px
      color: $headlines
    &__text
      flex-basis: 48%
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: $text-color
.brands
  display: flex
